## Dictionary definition

In [ ]:
- set of pair of kay and value
- key -> Immutable, value -> Any(Mutable/Immutable)
- ordered from Python3.7 onwards
- keys are unique
- Mutable

### Initialize

In [1]:
dict1 = {}
print(type(dict1))

<class 'dict'>

In [2]:
dict1 = { 1:[1,2,3], 2:[2,4,6], 3:[3,6,9] }
dict1

{1: [1, 2, 3], 2: [2, 4, 6], 3: [3, 6, 9]}

In [ ]:
dict1 = { 1:[1,2,3],
          2:[2,4,6],
          3:[3,6,9] 
        }
dict1

In [3]:
dict2 = {'Name':'John Cena', 'Age': 56, 'Salary': 45000, 'Company': 'TCS'}
dict2

{'Name': 'John Cena', 'Age': 56, 'Salary': 45000, 'Company': 'TCS'}

In [4]:
dict2 = {'Name':'John Cena',
         'Age': 56,
         'Salary': 45000,
         'Company': 'TCS'
        }
dict2

{'Name': 'John Cena', 'Age': 56, 'Salary': 45000, 'Company': 'TCS'}

In [7]:
dict3 = {(1,) : [34,67,21],
         (3,2): ['Abc', 'Xyz'],
         'KEY': (11,22,33)
        }

In [8]:
dict3

{(1,): [34, 67, 21], (3, 2): ['Abc', 'Xyz'], 'KEY': (11, 22, 33)}

In [10]:
dict4 = {1:1, 2:2, 3:3}
dict4

{1: 1, 2: 2, 3: 3}

In [11]:
dict5 = {(1,2):(3,4),(11,22):(33,44)}
dict5

{(1, 2): (3, 4), (11, 22): (33, 44)}

In [13]:
dict1 = { 1:[1,2,3], 2:[2,4,6], 3:[3,6,9] }
dict1

{1: [1, 2, 3], 2: [2, 4, 6], 3: [3, 6, 9]}

In [56]:
dict1 = { 1:[1,2,3], 2:[2,4,6], 3:[3,6,9] }
dict1[4] = [4,8,12]
dict1

{1: [1, 2, 3], 2: [2, 4, 6], 3: [3, 6, 9], 4: [4, 8, 12]}

In [57]:
dict1 = { 1:[1,2,3], 2:[2,4,6], 3:[3,6,9] }
dict1[2] = {'A', 'r', 'a', 'v', 'a', 'l', 'i'}
dict1

{1: [1, 2, 3], 2: {'A', 'a', 'i', 'l', 'r', 'v'}, 3: [3, 6, 9]}

### update()

In [58]:
d1 = {1:"aaa", 2:'bbb'}
d2 = {5:'kkk', 9:'xyz'}
d1.update(d2)
d1

{1: 'aaa', 2: 'bbb', 5: 'kkk', 9: 'xyz'}

In [59]:
d1 = {1:"aaa", 2:'bbb'}
d2 = {5:'kkk', 9:'xyz'}
d2.update(d1)
d2

{5: 'kkk', 9: 'xyz', 1: 'aaa', 2: 'bbb'}

### Add key value
   dictionary [ key  ] = value

In [14]:
dict1[4] = [4, 8, 12]

In [15]:
dict1

{1: [1, 2, 3], 2: [2, 4, 6], 3: [3, 6, 9], 4: [4, 8, 12]}

### Access

In [16]:
dict3 = {(1,) : [34,67,21],
         (3,2): ['Abc', 'Xyz'],
         'KEY': (11,22,33)
        }

In [17]:
dict3[(3,2)]

['Abc', 'Xyz']

In [18]:
dict3[(1,)]

[34, 67, 21]

### Access using get()

In [19]:
dict3.get((3,2))

['Abc', 'Xyz']

In [20]:
dict1 = { 1:[1,2,3], 2:[2,4,6], 3:[3,6,9] }
dict1

{1: [1, 2, 3], 2: [2, 4, 6], 3: [3, 6, 9]}

In [21]:
dict1.get(3)

[3, 6, 9]

## Remove Operations

### pop(key)
- returns value of that key which is passed as argument

In [36]:
d = {1: [1, 2, 3], 2: [2, 4, 6], 3: [3, 6, 9], 4: [4, 8, 12]}

In [37]:
d.pop(2)

[2, 4, 6]

In [26]:
dict3 = {(1,) : [34,67,21],
         (3,2): ['Abc', 'Xyz'],
         'KEY': (11,22,33)
        }
dict3.pop('KEY')
dict3

{(1,): [34, 67, 21], (3, 2): ['Abc', 'Xyz']}

In [27]:
dict3 = {(1,) : [34,67,21],
         (3,2): ['Abc', 'Xyz'],
         'KEY': (11,22,33)
        }
dict3.pop('KEy')
dict3

KeyError: 'KEy'

In [28]:
dict4 = {1:1, 2:2, 3:3}
dict4.pop(2)

2

In [29]:
dict4 = {1:1, 2:2, 3:3}
dict4.pop(9)

KeyError: 9

In [30]:
dict4.pop('ABC')

KeyError: 'ABC'

### popitem()
- return key and value pair in tuple format

In [32]:
dict4 = {1:"aaa", 2:'bbb', 3:'ccc'}
print(dict4)
# dict4.pop(2)

{1: 'aaa', 2: 'bbb', 3: 'ccc'}

In [33]:
dict4 = {1:"aaa", 2:'bbb', 3:'ccc'}
dict4.popitem()
dict4

{1: 'aaa', 2: 'bbb'}

In [34]:
dict4.popitem()

(2, 'bbb')

In [38]:
dict4.popitem()

(1, 'aaa')

In [39]:
dict4.popitem()

KeyError: 'popitem(): dictionary is empty'

### clear()
- clears contents of dict variable

In [40]:
dict4 = {1:"aaa", 2:'bbb', 3:'ccc'}
dict4.clear()
dict4

{}

### del

In [42]:
dict4 = {1:"aaa", 2:'bbb', 3:'ccc'}
del dict4[1]
dict4

{2: 'bbb', 3: 'ccc'}

### Access dictionary with for loop using
- keys()
- values()
- items()

In [43]:
dict4 = {1:"111", 2:'222', 3:'333', 4:'444', 5:'555', 6:'666'}
for var in dict4:
    print(var)

1
2
3
4
5
6

In [45]:
dict4 = {1:"111", 2:'222', 3:'333', 4:'444', 5:'555', 6:'666'}
for var in dict4:
    print(var, '->', dict4[var])

1 -> 111
2 -> 222
3 -> 333
4 -> 444
5 -> 555
6 -> 666

In [46]:
dict4 = {1:"aaa", 2:'bbb', 3:'ccc', 4:'ddd', 5:'eee', 6:'fff'}
for var in dict4:
    print(var, '->', dict4[var])

1 -> aaa
2 -> bbb
3 -> ccc
4 -> ddd
5 -> eee
6 -> fff

### keys()

In [47]:
dict4 = {1:"aaa", 2:'bbb', 3:'ccc', 4:'ddd', 5:'eee', 6:'fff'}
for key in dict4.keys():
    print(key)
#     print(var, '->', dict4[var])

1
2
3
4
5
6

In [48]:
dict4.keys()

dict_keys([1, 2, 3, 4, 5, 6])

In [50]:
type(dict4.keys())

dict_keys

In [49]:
list(dict4.keys())

[1, 2, 3, 4, 5, 6]

### values()

In [51]:
dict4 = {1:"aaa", 2:'bbb', 3:'ccc', 4:'ddd', 5:'eee', 6:'fff'}
for value in dict4.values():
    print(value)

aaa
bbb
ccc
ddd
eee
fff

In [52]:
dict4.values()

dict_values(['aaa', 'bbb', 'ccc', 'ddd', 'eee', 'fff'])

In [53]:
list(dict4.values())

['aaa', 'bbb', 'ccc', 'ddd', 'eee', 'fff']

### items()
- return key:value pair in tuple format

In [54]:
dict4 = {1:"aaa", 2:'bbb', 3:'ccc', 4:'ddd', 5:'eee', 6:'fff'}
for pair in dict4.items():
    print(pair)

(1, 'aaa')
(2, 'bbb')
(3, 'ccc')
(4, 'ddd')
(5, 'eee')
(6, 'fff')

In [55]:
dict4 = {1:"aaa", 2:'bbb', 3:'ccc', 4:'ddd', 5:'eee', 6:'fff'}
for a,b in dict4.items():
    print(a,b)

1 aaa
2 bbb
3 ccc
4 ddd
5 eee
6 fff

In [67]:
# Non alpha also included

string = 'Football is a family of team sports that involve, to varying degrees, kicking a ball to score a goal.'
string = string.lower()
char_frequency = {}
for char in string:
    char_frequency[char] = string.count(char)
char_frequency

{'f': 3,
 'o': 9,
 't': 7,
 'b': 2,
 'a': 10,
 'l': 7,
 ' ': 18,
 'i': 6,
 's': 5,
 'm': 2,
 'y': 2,
 'e': 6,
 'p': 1,
 'r': 4,
 'h': 1,
 'n': 3,
 'v': 3,
 ',': 2,
 'g': 4,
 'd': 1,
 'k': 2,
 'c': 2,
 '.': 1}

In [66]:
#Count of only alphabets
string = 'Football is a family of team sports that involve, to varying degrees, kicking a ball to score a goal.'
string = string.lower()
char_frequency = {}
for char in string:
    if char.isalpha():
        char_frequency[char] = string.count(char)
char_frequency

{'f': 3,
 'o': 9,
 't': 7,
 'b': 2,
 'a': 10,
 'l': 7,
 'i': 6,
 's': 5,
 'm': 2,
 'y': 2,
 'e': 6,
 'p': 1,
 'r': 4,
 'h': 1,
 'n': 3,
 'v': 3,
 'g': 4,
 'd': 1,
 'k': 2,
 'c': 2}

In [69]:
#Count of only alphabets
string = 'Football is a family of team sports that involve, to varying degrees, kicking a ball to score a goal.'
string = string.lower()
set1 = set(string)
char_frequency = {}
for char in set1:
    if char.isalpha():
        char_frequency[char] = string.count(char)
char_frequency

{'a': 10,
 'o': 9,
 'r': 4,
 'k': 2,
 't': 7,
 'd': 1,
 'i': 6,
 'h': 1,
 'f': 3,
 'l': 7,
 'p': 1,
 'e': 6,
 'y': 2,
 'n': 3,
 'g': 4,
 'b': 2,
 'v': 3,
 's': 5,
 'c': 2,
 'm': 2}

In [70]:
# Write a Python program to remove spaces from dictionary keys. 

d = {'  abc ':123,
     'xyz     ':456,
     'abc xyz':789}
d

{'  abc ': 123, 'xyz     ': 456, 'abc xyz': 789}

In [72]:
# Write a Python program to remove spaces from dictionary keys. 

d1 = {'  abc ':123,
     'xyz     ':456,
     'abc xyz':789}
d2 = {}
for key, value in d1.items():
    d2[key.replace(' ', '')] = value
d2

{'abc': 123, 'xyz': 456, 'abcxyz': 789}

In [ ]:
# Write a Python program to remove spaces from dictionary keys. 

d1 = {'  abc ':123,
     'xyz     ':456,
     'abc xyz':789}
d2 = {}
for key, value in d1.items():
    d2[key.replace(' ', '')] = value
d2

Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.
{
 'x': [11, 12, 13, 14, 15, 16, 17, 18, 19],
 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29],
 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]
 }
 
 Output - 15, 25, 35

In [77]:
table = {
 'x': [11, 12, 13, 14, 15, 16, 17, 18, 19],
 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29],
 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]
 }
list1 = table['x']
list1[4]

15

In [80]:
table = {
 'x': [11, 12, 13, 14, 15, 16, 17, 18, 19],
 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29],
 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]
 }
result = []
for k, v in table.items():
    list1 = table[k]
    result.append(list1[4])
result

[15, 25, 35]