In [1]:
class MyClass:
    def __init__(self, x):
        self.x = x

obj1 = MyClass(22)
obj2 = MyClass(33)

print(2+3)

5

In [2]:
print(obj1 + obj2)

TypeError: unsupported operand type(s) for +: 'MyClass' and 'MyClass'

In [14]:
class MyClass:
    def __init__(self, x):
        self.x = x
    
    def __add__(self, other):
        return self.x + other.x
        

obj1 = MyClass(22)
obj2 = MyClass(33)

# obj1.__add__(obj2)
obj1 + obj2
6+7

13

In [3]:
print(4+5)

9

In [ ]:
print(int.__add__(4, 5))

In [6]:
print(str.__add__('4','5'))

45

In [27]:
class MyClass:
    def __init__(self, x):
        self.x = x
    
    def __gt__(self, other):
        return self.x > other.x
#         if self.x > other.x:
#             return True
#         else:
#             return False
        

obj1 = MyClass(22)
obj2 = MyClass(33)

print(obj1 > obj2)

False

In [22]:
def compare(a, b):
    if a > b:
        return True
    else:
        return False  
compare(33,22)

True

In [23]:
def compare(a, b):
    return  a > b
compare(33,22)

True

In [26]:
4==4

True

In [25]:
print(4==6)

False

In [ ]:
class MyClass:
    def __init__(self, x):
        self.x = x
    
    def __gt__(self, other):
        return self.x > other.x
#         if self.x > other.x:
#             return True
#         else:
#             return False
        

obj1 = MyClass(22)
obj2 = MyClass(33)

print(obj1 > obj2)