# List

## 1. Definition

In [ ]:
- collection of items
- separated by comma
- can accomodate heterogenous datatypes
- list is ordered
- list can contain duplicates
- lists are mutable (can change)

In [1]:
list1 = [1, 56, 34,90]
print(list1)

[1, 56, 34, 90]

In [2]:
list1 = [1, 56, 34,90]
list1

[1, 56, 34, 90]

In [69]:
list1 = [1 56 34 90]
list1

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1491249211.py, line 1)

In [4]:
list1 = [1, 56, 34,90]
list1
print('list data')

list data

In [5]:
list2 = [1, 2, 'CBP', 77.88, [22,66,88], (1,3)]
list2

[1, 2, 'CBP', 77.88, [22, 66, 88], (1, 3)]

In [6]:
list2 = [1, 2, 'CBP', 77.88, [22,66,88], (1,3)]
for item in list2:
    print(item)

1
2
CBP
77.88
[22, 66, 88]
(1, 3)

In [ ]:
list2 = [1, 2, 'CBP', 77.88, [22,66,88], (1,3)]
for item in list2:
    print(item)

In [9]:
list2 = [1, 2, 'CBP', 77.88, [22,66,88], (1,3)]
for index in range(len(list2)):
    print(index, '->',list2[index])

0 -> 1
1 -> 2
2 -> CBP
3 -> 77.88
4 -> [22, 66, 88]
5 -> (1, 3)

In [11]:
list2 = [1, 2, 'CBP', 77.88, [22,66,88], (1,3)]
for index in range(len(list2)):
    print(index, '->',list2[index], '->', type(list2[index]))

0 -> 1 -> <class 'int'>
1 -> 2 -> <class 'int'>
2 -> CBP -> <class 'str'>
3 -> 77.88 -> <class 'float'>
4 -> [22, 66, 88] -> <class 'list'>
5 -> (1, 3) -> <class 'tuple'>

In [ ]:
0 -> 1 ->            <class 'int'>
1 -> 2 ->            <class 'int'>
2 -> CBP ->          <class 'str'>
3 -> 77.88 ->        <class 'float'>
4 -> [22, 66, 88] -> <class 'list'>
5 -> (1, 3) ->       <class 'tuple'>

In [17]:
list3 = [11,22,33,44,55,66,77]
for item in range(len(list3)):
    print(item, '->',list3[item], '->', type(list3[item]))

0 -> 11 -> <class 'int'>
1 -> 22 -> <class 'int'>
2 -> 33 -> <class 'int'>
3 -> 44 -> <class 'int'>
4 -> 55 -> <class 'int'>
5 -> 66 -> <class 'int'>
6 -> 77 -> <class 'int'>

In [18]:
list4 = [2,2,2,2,2,2,2]
print(list4)

[2, 2, 2, 2, 2, 2, 2]

In [21]:
list4 = [2,2,2,2,2,2,2]
for item in list4:
    print(item, end = ' ')

2 2 2 2 2 2 2

In [22]:
list4 = [1,2,44,2,1]
for item in list4:
    print(item, end = ' ')

1 2 44 2 1

In [26]:
list5 = [1,2,3,4,5,6]
list5[3] = 44
list5

[1, 2, 3, 44, 5, 6]

In [27]:
tup5 = (1,2,3,4,5,6)
tup5[3] = 44
tup5

TypeError: 'tuple' object does not support item assignment

## 2. Initialize lists

In [30]:
list1 = [65]
list1

[65]

In [31]:
list2 = [3,5,6]
list2

[3, 5, 6]

In [32]:
# create empty list
list1 = []
list1

[]

In [34]:
list1 = []
type(list1)

list

In [33]:
list1 = list()
list1

[]

In [35]:
list1 = list()
type(list1)

list

## Add items

### 1. append(element)

In [36]:
list1 = []
list1.append(45)
list1

[45]

In [37]:
list1 = [11,22,33]
list1.append(22)
list1

[11, 22, 33, 22]

In [38]:
list1 = [55,123,7.89]
list1.append('abc')
list1

[55, 123, 7.89, 'abc']

In [39]:
list1 = [55,123,7.89]
list1.append(['A', 'B', 'C', 'D'])
list1

[55, 123, 7.89, ['A', 'B', 'C', 'D']]

In [40]:
list1[3]

['A', 'B', 'C', 'D']

In [42]:
list1[3][1]

'B'

### 2. extend(list1)

In [43]:
list1 = [1,2]
list2 = ['ABC', 'XYZ']
list1.extend(list2)
list1

[1, 2, 'ABC', 'XYZ']

In [44]:
list1 = [1,2]
list2 = ['ABC', 'XYZ']
list2.extend(list1)
list2

['ABC', 'XYZ', 1, 2]

In [45]:
list1 = [1,2]
list1.extend([33,44])
list1

[1, 2, 33, 44]

In [46]:
list1 = [1,2]
list1.extend(33,44)
list1

TypeError: list.extend() takes exactly one argument (2 given)

In [47]:
list1 = []
list2 = [33, 'xyz']
list1.extend(list2)
list1

[33, 'xyz']

In [48]:
list1 = []
list2 = [33, 'xyz']
list2.extend(list1)
list2

[33, 'xyz']

In [ ]:
list2 = [33, 'xyz']

In [49]:
list2.append([])
list2

[33, 'xyz', []]

### 3. insert(index, item)

In [52]:
list1 = [11,22,33,44,55,66]
print(list1)
list1.insert(3,'Guwahati')
print(list1)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 'Guwahati', 44, 55, 66]

In [53]:
list1 = []
list1.insert(0, {1,4,88,24})
list1

[{1, 4, 24, 88}]

In [57]:
cities = ["Mumbai", 'Delhi', "Kolkata", 'Hyderabad']
for i in range(len(cities)):
    print(i, '-> ', cities[i], sep = '')

0-> Mumbai
1-> Delhi
2-> Kolkata
3-> Hyderabad

In [58]:
cities = ["Mumbai", 'Delhi', "Kolkata", 'Hyderabad']
cities.insert(2, 'Guwahati')
for i in range(len(cities)):
    print(i, '-> ', cities[i], sep = '')

0-> Mumbai
1-> Delhi
2-> Guwahati
3-> Kolkata
4-> Hyderabad

## Remove Items

### 1. remove(element)

In [ ]:
list1.remove(element)
it removes first occurence of an element

In [59]:
cities = ["Mumbai", 'Delhi', "Kolkata", 'Hyderabad']
print('Before remove')
print(cities)
cities.remove('Kolkata')
print('After remove')
print(cities)

Before remove
['Mumbai', 'Delhi', 'Kolkata', 'Hyderabad']
After remove
['Mumbai', 'Delhi', 'Hyderabad']

In [60]:
list1 = [11,44,22,11,44,67,45,89,34]
list1.remove(11)
list1

[44, 22, 11, 44, 67, 45, 89, 34]

In [61]:
list1 = [11,44,22,11,44,67,45,89,34]
list1.remove(44)
list1

[11, 22, 11, 44, 67, 45, 89, 34]

In [62]:
list1 = [11,22,33,44,55,66,77,3]
list1.remove(3)
list1

[11, 22, 33, 44, 55, 66, 77]

### 2. pop(index)

In [ ]:
it removes element from specified index

In [63]:
list1 = [11,22,33,44,55,66,77,3]
list1.pop(3)
list1

[11, 22, 33, 55, 66, 77, 3]

In [64]:
list1 = [0,1,2,3,4,5,6,7,8,9]
print(list1)
list1.pop(5)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 6, 7, 8, 9]

In [65]:
list1 = [0,1,2,3,4,5,6,7,8,9]
for i in range(len(list1)):
    print(i, '-', list1[i])

0 - 0
1 - 1
2 - 2
3 - 3
4 - 4
5 - 5
6 - 6
7 - 7
8 - 8
9 - 9

### 3. clear()

In [68]:
list1 = [ 'ABC',
          123,
          3.14, 
          ["Mumbai", 'Delhi', "Kolkata", 'Hyderabad']
        ]
print(list1)
list1.clear()
print(list1)

['ABC', 123, 3.14, ['Mumbai', 'Delhi', 'Kolkata', 'Hyderabad']]
[]

### 4. del

In [70]:
list1 = [0,1,2,3,4,5,6,7,8,9]
del list1[3]
list1

[0, 1, 2, 4, 5, 6, 7, 8, 9]

In [73]:
list1 = [0,1,2,3,4,5,6,7,8,9]
del list1
list1

NameError: name 'list1' is not defined