In [ ]:
Functions
- Used for wrting subtaks
- function can have zero or more return statement
- functions can have zero or more parameters

In [2]:
syntax

def funname():
    line1
    line2
    line3
    return

In [ ]:
syntax

def funname():
    line1
    line2
line3

In [3]:
def abc():
    pass

In [4]:
abc()

In [5]:
def abc():
    print('I am in functions block')

In [6]:
abc()

I am in functions block

In [14]:
def abc():
    print('I am in functions block')

abc()

I am in functions block

In [15]:
abc123()

def abc123():
    print('I am in functions block')

NameError: name 'abc123' is not defined

In [16]:
def abc123():
    print('I am in functions block')
    
abc123()

I am in functions block

In [18]:
def abc123():
    print('I am in functions block')
    
print(abc123)

<function abc123 at 0x7f3078601b40>

In [19]:
def abc123():
    print('I am in functions block')
    
print(abc123())

I am in functions block
None

In [20]:
def abc123(): # execute this code on terminal using python interpreter
    print('I am in functions block')
    return "This is my return statement"
    
abc123()

I am in functions block

'This is my return statement'

In [ ]:
def abc123(): # execute this code on terminal using python interpreter
    print('I am in functions block')
    return "This is my return statement"
    
print(abc123())

In [ ]:
def xyz(): # this cell has not been executed
    print('in xyz')

In [7]:
xyz()

NameError: name 'xyz' is not defined

In [9]:
def xyz():
    print('in xyz')

In [10]:
xyz()

in xyz

In [11]:
def xyz():
    print('in xyz')

xyz()

in xyz

## Function with argument/parameter

In [22]:
def fun1(num):
    print(num, type(num))

fun1(123)

123 <class 'int'>

In [23]:
def fun1(num):
    print(num, type(num))

fun1(123.456)

123.456 <class 'float'>

In [24]:
def fun1(num):
    print(num, type(num))

fun1(['abc', '123'])

['abc', '123'] <class 'list'>

In [25]:
def fun1(num):
    print(num, type(num))

fun1('string line')

string line <class 'str'>

In [26]:
def divide(divident, divisor):
    print(divident// divisor)
    
divide(444, 4)

111

In [ ]:
def divide(divident, divisor):
    print(divident// divisor)
    
divide(444, 4)

In [33]:
def divide(divident, divisor):
    print(divident // divisor)
    
divide('abc', 'xyz')

TypeError: unsupported operand type(s) for //: 'str' and 'str'

In [34]:
def divide(divident, divisor):
    print(divident // divisor)
    
divide([1,2,3], (11,22,33))

TypeError: unsupported operand type(s) for //: 'list' and 'tuple'

In [35]:
def sum(num1, num2):
    print(num1 + 2)
    
sum(1,2)

3

In [37]:
def sum(num1, num2):
    print(num1 + num2)
    
sum('Cdac','Silchar')

CdacSilchar

In [38]:
def sum(num1, num2):
    print(num1 + '-' + num2)
    
sum('Cdac','Silchar')

Cdac-Silchar

In [39]:
def sum(num1, num2):
    print(num1 + '-' + num2)
    
sum(11,22)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [40]:
def sum(num1, num2):
    print(num1 + num2)
    
sum([11],[22])

[11, 22]

In [41]:
def sum(num1, num2):
    print(num1 + num2)
    
sum([1,2,3,4],[11,22,33,44])

[1, 2, 3, 4, 11, 22, 33, 44]

In [43]:
def sum(num1, num2):
    print(num1 + num2)
    
sum((1,2,3,4),(11,22,33,44))

(1, 2, 3, 4, 11, 22, 33, 44)

In [44]:
def my_print(variable):
    for item in variable:
        print(item, '->', type(item))

my_print('Cdac-Silchar')

C -> <class 'str'>
d -> <class 'str'>
a -> <class 'str'>
c -> <class 'str'>
- -> <class 'str'>
S -> <class 'str'>
i -> <class 'str'>
l -> <class 'str'>
c -> <class 'str'>
h -> <class 'str'>
a -> <class 'str'>
r -> <class 'str'>

In [45]:
my_print( [1,2,3,4,5,6,7] )

1 -> <class 'int'>
2 -> <class 'int'>
3 -> <class 'int'>
4 -> <class 'int'>
5 -> <class 'int'>
6 -> <class 'int'>
7 -> <class 'int'>

In [46]:
states = ['Assam', "Rajasthan", 'Odisha', 'Telangana']
my_print(states)

Assam -> <class 'str'>
Rajasthan -> <class 'str'>
Odisha -> <class 'str'>
Telangana -> <class 'str'>

In [47]:
my_print(12)

TypeError: 'int' object is not iterable

In [50]:
list1 = [11,22,33,44]
for  i in list1:
    print(i)

11
22
33
44

In [51]:
list1 = 2
for i in list1:
    print(i)

TypeError: 'int' object is not iterable

In [52]:
list1 = 2
for i in range(list1):
    print(i)

0
1

In [55]:
def fun_1(num1, num2):
    print(f'first = {num1}, second = {num2}')
fun_1(11,77)

first = 11, second = 77

In [57]:
fun_1(11)

TypeError: fun_1() missing 1 required positional argument: 'num2'

In [58]:
fun_1(11,22,33)

TypeError: fun_1() takes 2 positional arguments but 3 were given

In [59]:
def fun_1(num1, num2):
    print(f'first = {num1}, second = {num2}')
fun_1([11,77])

TypeError: fun_1() missing 1 required positional argument: 'num2'

In [60]:
def fun_1(num1, num2):
    print(f'first = {num1}, second = {num2}')
fun_1([11,77], ['aaa', 'bbb'])

first = [11, 77], second = ['aaa', 'bbb']

In [ ]:
def fun_1(num1, num2):
    print(f'first = {num1}, second = {num2}')
fun_1()

In [75]:
# Write a function which generates 4-digit 5 numbers & substract 333 from all.
# Result shud be placed in list. Print the list at the end.

import random
def task():
    list1 = []
    for i in range(5):
        list1.append(random.randint(1000,9999))
    
    print('Before substracing')
    print(list1)
    
    for i in range(5):
        list1[i] = list1[i] - 333

    print('After substracing')
    print(list1)
    
        
task()

Before substracing
[9150, 7741, 4504, 2617, 4912]
After substracing
[8817, 7408, 4171, 2284, 4579]

In [61]:
list1 = []
for i in range(5):
    list1.append(7)
list1

[7, 7, 7, 7, 7]

In [62]:
list1 = []
for i in range(5):
    list1.append(i)
list1

[0, 1, 2, 3, 4]

In [63]:
list1 = []
for i in range(5):
    list1.append('Amarsingh')
list1

['Amarsingh', 'Amarsingh', 'Amarsingh', 'Amarsingh', 'Amarsingh']

In [69]:
import random
var = random.randint(1000, 9999)
var

1924

## return
- it shud be last statement
- not complusary to hv return to function
- can return multiple return values
- anyting written after return statement is unereachable code

In [78]:
def fun_2():
    return 2323
fun_2()

2323

In [79]:
def fun_2():
    return 2323
    print('fjhdfdhjk') # unreachbale code
fun_2()

2323

In [80]:
def fun_2():
   return 'ABC' 
fun_2()

'ABC'

In [81]:
def fun_2():
   return ['ABC', 'XYZ', 'PQR'] 
fun_2()

['ABC', 'XYZ', 'PQR']

In [82]:
def fun3(num1, num2):
    return num1+num2

fun3(444,555)

999

In [84]:
# Write a function which generates 4-digit 5 numbers & substract 333 from all.
# Return output in the form of list

import random
def task():
    list1 = []
    for i in range(5):
        list1.append(random.randint(1000,9999))
    
    print('Before substracing')
    print(list1)
    
    for i in range(5):
        list1[i] = list1[i] - 333
    
    return list1


output = task()
print('After substracing')
print(output)

Before substracing
[5489, 1685, 8917, 6052, 8151]
After substracing
[5156, 1352, 8584, 5719, 7818]

In [85]:
# Write a function which generates 4-digit 5 numbers & substract 333 from all.
# Return output in the form of list

import random
def task():
    list1 = []
    print('Before substracing')
    for i in range(5):
        list1.append(random.randint(1000,9999) - 333)
    

    print(list1)
    
#     for i in range(5):
#         list1[i] = list1[i] - 333
    
    return list1


output = task()
print('After substracing')
print(output)

Before substracing
[1678, 6470, 6744, 4984, 6594]
After substracing
[1678, 6470, 6744, 4984, 6594]

In [86]:
# Write a function which generates 4-digit 5 numbers & substract 333 from all.
# Return output in the form of list

import random
def task():
    return [random.randint(1000,9999)-333 for i in range(5)]
           [random.randint(1000,9999)-333 for i in range(5)]

output = task()
print('After substracing')
print(output)

After substracing
[1995, 9069, 4073, 7913, 6995]

In [87]:
[ 7 for i in range(5)]

[7, 7, 7, 7, 7]

In [88]:
[ i for i in range(5)]

[0, 1, 2, 3, 4]

In [89]:
[random.randint(1000,9999) for i in range(5)]

[4770, 6419, 6559, 4520, 8455]

In [90]:
[random.randint(1000,9999)-333 for i in range(5)]

[3981, 7550, 2726, 7461, 1097]

In [97]:
# Write a function which takes 2 arguments start and end (both included).
# Return list with first 5 values and last 5 values and substract 1 from them
# for the range of numbers start to end.


def task2(start, end):
    result = []
    for i in range(start, start+5):
        result.append(i)
#     print(result)
    for i in range(end, end - 5, -1):
        result.append(i)
#     print(result)
    for i in range(10):
        result[i] = result[i] - 1
    return result

task2(7, 35)

[6, 7, 8, 9, 10, 34, 33, 32, 31, 30]

In [98]:
task2(123,676)

[122, 123, 124, 125, 126, 675, 674, 673, 672, 671]

In [99]:
# Write a function which takes 2 arguments start and end (both included).
# Return list with first 5 values and last 5 values and substract 1
# from them for the range of numbers start to end.


def task2(start, end):
    result = []
    for i in range(start, start+5):
        result.append(i)
#     print(result)
    for i in range(end, end - 5, -1):
        result.append(i)
#     print(result)
    return [i-1 for i in result]

task2(7, 35)

[6, 7, 8, 9, 10, 34, 33, 32, 31, 30]

In [115]:
fullform = ['Madhya Pradesh', 'uttar pradesh',
            'Electoral directorate',
            'central bureau Of investigation']
fullform

['Madhya Pradesh',
 'uttar pradesh',
 'Electoral directorate',
 'central bureau Of investigation']

In [117]:
def short_form(variable):
    for var in variable:
        temp_list = var.split()
        for i in temp_list:
            if i.lower() != 'of':
                print(f'{i[0].upper()}.', end = '')
        print()
            

short_form(fullform)

M.P.
U.P.
E.D.
C.B.I.

In [120]:
def first_two_letters(cities):
    result = []
    for i in cities:
        result.append(i[0:2])



cities = ['Kohima', 'Bhubaneswar', 'Chandigarh', 'Jaipur',
          'Gangtok', 'Chennai', 'Hyderabad',
          'Agartala', 'Lucknow', 'Dehradun', 'Kolkata']
first_two_letters(cities)

Kohima
Bhubaneswar
Chandigarh
Jaipur
Gangtok
Chennai
Hyderabad
Agartala
Lucknow
Dehradun
Kolkata

In [ ]:
# output = ['Ko', 'Bh', 'Ch', 'Ja', 'Ga', 'Ch', 'Hy', 'Ag', 'Lu', 'De', 'Ko']