In [77]:
Functions
- Used for wrting subtaks
- function can have zero or more return statement
- functions can have zero or more parameters

In [ ]:
syntax

def funname():
    line1
    line2
    line3
    return

In [ ]:
syntax

def funname():
    line1
    line2
line3

In [6]:
def abc():
    pass

In [7]:
abc()

In [8]:
def abc():
    print('I am in functions block')

In [9]:
abc()

I am in functions block

In [10]:
def abc():
    print('I am in functions block')

abc()

I am in functions block

In [12]:
abc123()

def abc123():
    print('I am in functions block')

NameError: name 'abc123' is not defined

In [ ]:
def abc123():
    print('I am in functions block')
    
abc123()

In [ ]:
def abc123():
    print('I am in functions block')
    
print(abc123)

In [ ]:
def abc123():
    print('I am in functions block')
    
print(abc123())

In [ ]:
def abc123(): # execute this code on terminal using python interpreter
    print('I am in functions block')
    return "This is my return statement"
    
abc123()

In [13]:
def abc123(): # execute this code on terminal using python interpreter
    print('I am in functions block')
    return "This is my return statement"
    
print(abc123())

I am in functions block
This is my return statement

In [14]:
def xyz(): # this cell has not been executed
    print('in xyz')

In [15]:
xyz()

in xyz

In [16]:
def xyz():
    print('in xyz')

In [17]:
xyz()

in xyz

In [18]:
def xyz():
    print('in xyz')

xyz()

in xyz

## Function with argument/parameter

In [19]:
def fun1(num):
    print(num, type(num))

fun1(123)

123 <class 'int'>

In [20]:
def fun1(num):
    print(num, type(num))

fun1(123.456)

123.456 <class 'float'>

In [21]:
def fun1(num):
    print(num, type(num))

fun1(['abc', '123'])

['abc', '123'] <class 'list'>

In [22]:
def fun1(num):
    print(num, type(num))

fun1('string line')

string line <class 'str'>

In [23]:
def divide(divident, divisor):
    print(divident// divisor)
    
divide(444, 4)

111

In [24]:
def divide(divident, divisor):
    print(divident// divisor)
    
divide(444, 4)

111

In [25]:
def divide(divident, divisor):
    print(divident // divisor)
    
divide('abc', 'xyz')

TypeError: unsupported operand type(s) for //: 'str' and 'str'

In [33]:
def divide(divident, divisor):
    print(divident // divisor)
    
divide([1,2,3], (11,22,33))

TypeError: unsupported operand type(s) for //: 'list' and 'tuple'

In [ ]:
def sum(num1, num2):
    print(num1 + 2)
    
sum(1,2)

In [ ]:
def sum(num1, num2):
    print(num1 + num2)
    
sum('Cdac','Silchar')

In [ ]:
def sum(num1, num2):
    print(num1 + '-' + num2)
    
sum('Cdac','Silchar')

In [ ]:
def sum(num1, num2):
    print(num1 + '-' + num2)
    
sum(11,22)

In [ ]:
def sum(num1, num2):
    print(num1 + num2)
    
sum([11],[22])

In [ ]:
def sum(num1, num2):
    print(num1 + num2)
    
sum([1,2,3,4],[11,22,33,44])

In [ ]:
def sum(num1, num2):
    print(num1 + num2)
    
sum((1,2,3,4),(11,22,33,44))

In [34]:
def my_print(variable):
    for item in variable:
        print(item, '->', type(item))

my_print('Cdac-Silchar')

C -> <class 'str'>
d -> <class 'str'>
a -> <class 'str'>
c -> <class 'str'>
- -> <class 'str'>
S -> <class 'str'>
i -> <class 'str'>
l -> <class 'str'>
c -> <class 'str'>
h -> <class 'str'>
a -> <class 'str'>
r -> <class 'str'>

In [35]:
my_print( [1,2,3,4,5,6,7] )

1 -> <class 'int'>
2 -> <class 'int'>
3 -> <class 'int'>
4 -> <class 'int'>
5 -> <class 'int'>
6 -> <class 'int'>
7 -> <class 'int'>

In [36]:
states = ['Assam', "Rajasthan", 'Odisha', 'Telangana']
my_print(states)

Assam -> <class 'str'>
Rajasthan -> <class 'str'>
Odisha -> <class 'str'>
Telangana -> <class 'str'>

In [40]:
my_print(12)

TypeError: 'int' object is not iterable

In [ ]:
list1 = [11,22,33,44]
for  i in list1:
    print(i)

In [ ]:
list1 = 2
for i in list1:
    print(i)

In [ ]:
list1 = 2
for i in range(list1):
    print(i)

In [ ]:
def fun_1(num1, num2):
    print(f'first = {num1}, second = {num2}')
fun_1(11,77)

In [ ]:
fun_1(11)

In [41]:
fun_1(11,22,33)

NameError: name 'fun_1' is not defined

In [ ]:
def fun_1(num1, num2):
    print(f'first = {num1}, second = {num2}')
fun_1([11,77])

In [ ]:
def fun_1(num1, num2):
    print(f'first = {num1}, second = {num2}')
fun_1([11,77], ['aaa', 'bbb'])

In [ ]:
def fun_1(num1, num2):
    print(f'first = {num1}, second = {num2}')
fun_1()

In [ ]:
# Write a function which generates 4-digit 5 numbers & substract 333 from all.
# Result shud be placed in list. Print the list at the end.

import random
def task():
    list1 = []
    for i in range(5):
        list1.append(random.randint(1000,9999))
    
    print('Before substracing')
    print(list1)
    
    for i in range(5):
        list1[i] = list1[i] - 333

    print('After substracing')
    print(list1)
    
        
task()

In [ ]:
list1 = []
for i in range(5):
    list1.append(7)
list1

In [ ]:
list1 = []
for i in range(5):
    list1.append(i)
list1

In [ ]:
list1 = []
for i in range(5):
    list1.append('Amarsingh')
list1

In [42]:
import random
var = random.randint(1000, 9999)
var

9957

## return
- it shud be last statement
- not complusary to hv return to function
- can return multiple return values
- anyting written after return statement is unereachable code

In [43]:
def fun_2():
    return 2323
fun_2()

2323

In [44]:
def fun_2():
    return 2323
    print('fjhdfdhjk') # unreachbale code
fun_2()

2323

In [45]:
def fun_2():
   return 'ABC' 
fun_2()

'ABC'

In [46]:
def fun_2():
   return ['ABC', 'XYZ', 'PQR'] 
fun_2()

['ABC', 'XYZ', 'PQR']

In [47]:
def fun3(num1, num2):
    return num1+num2

fun3(444,555)

999

In [48]:
# Write a function which generates 4-digit 5 numbers & substract 333 from all.
# Return output in the form of list

import random
def task():
    list1 = []
    for i in range(5):
        list1.append(random.randint(1000,9999))
    
    print('Before substracing')
    print(list1)
    
    for i in range(5):
        list1[i] = list1[i] - 333
    
    return list1


output = task()
print('After substracing')
print(output)

Before substracing
[7342, 4294, 7038, 4261, 5949]
After substracing
[7009, 3961, 6705, 3928, 5616]

In [49]:
# Write a function which generates 4-digit 5 numbers & substract 333 from all.
# Return output in the form of list

import random
def task():
    list1 = []
    print('Before substracing')
    for i in range(5):
        list1.append(random.randint(1000,9999) - 333)
    

    print(list1)
    
#     for i in range(5):
#         list1[i] = list1[i] - 333
    
    return list1


output = task()
print('After substracing')
print(output)

Before substracing
[3237, 3694, 5678, 6164, 9357]
After substracing
[3237, 3694, 5678, 6164, 9357]

In [50]:
# Write a function which generates 4-digit 5 numbers & substract 333 from all.
# Return output in the form of list

import random
def task():
    return [random.randint(1000,9999)-333 for i in range(5)]

output = task()
print('After substracing')
print(output)

After substracing
[7021, 4036, 4176, 9168, 6876]

In [51]:
[ 7 for i in range(5)]

[7, 7, 7, 7, 7]

In [52]:
[ i for i in range(5)]

[0, 1, 2, 3, 4]

In [53]:
[random.randint(1000,9999) for i in range(5)]

[6925, 4115, 5714, 9944, 8518]

In [54]:
[random.randint(1000,9999)-333 for i in range(5)]

[9317, 6673, 8265, 8759, 6955]

In [55]:
# Write a function which takes 2 arguments start and end (both included).
# Return list with first 5 values and last 5 values and substract 1 from them
# for the range of numbers start to end.


def task2(start, end):
    result = []
    for i in range(start, start+5):
        result.append(i)
#     print(result)
    for i in range(end, end - 5, -1):
        result.append(i)
#     print(result)
    for i in range(10):
        result[i] = result[i] - 1
    return result

task2(7, 35)

[6, 7, 8, 9, 10, 34, 33, 32, 31, 30]

In [56]:
task2(123,676)

[122, 123, 124, 125, 126, 675, 674, 673, 672, 671]

In [57]:
# Write a function which takes 2 arguments start and end (both included).
# Return list with first 5 values and last 5 values and substract 1
# from them for the range of numbers start to end.


def task2(start, end):
    result = []
    for i in range(start, start+5):
        result.append(i)
#     print(result)
    for i in range(end, end - 5, -1):
        result.append(i)
#     print(result)
    return [i-1 for i in result]

task2(7, 35)

[6, 7, 8, 9, 10, 34, 33, 32, 31, 30]

In [58]:
fullform = ['Madhya Pradesh', 'uttar pradesh',
            'Electoral directorate',
            'central bureau Of investigation']
fullform

['Madhya Pradesh',
 'uttar pradesh',
 'Electoral directorate',
 'central bureau Of investigation']

In [59]:
def short_form(variable):
    for var in variable:
        temp_list = var.split()
        for i in temp_list:
            if i.lower() != 'of':
                print(f'{i[0].upper()}.', end = '')
        print()
            

short_form(fullform)

M.P.
U.P.
E.D.
C.B.I.

In [60]:
def first_two_letters(cities):
    result = []
    for i in cities:
        result.append(i[0:2])
    return result



cities = ['Kohima', 'Bhubaneswar', 'Chandigarh', 'Jaipur',
          'Gangtok', 'Chennai', 'Hyderabad',
          'Agartala', 'Lucknow', 'Dehradun', 'Kolkata']
first_two_letters(cities)

['Ko', 'Bh', 'Ch', 'Ja', 'Ga', 'Ch', 'Hy', 'Ag', 'Lu', 'De', 'Ko']

In [61]:
# output = ['Ko', 'Bh', 'Ch', 'Ja', 'Ga', 'Ch', 'Hy', 'Ag', 'Lu', 'De', 'Ko']

In [62]:
# write a function to return sum of list elements.
def my_sum(variable):
    sum1 = 0
#     print('In my Function', variable)
    for i in variable:
        sum1 = sum1 + i
    print(sum1)
    

# list1 = [11,22,33,44,55,66,77,88,99]
list1 = [i for i in range(1,11)]
my_sum(list1)

55

In [63]:
# write a function to return sum of list elements.
def my_sum(variable):
    return sum(variable)
    

# list1 = [11,22,33,44,55,66,77,88,99]
list1 = [i for i in range(1,11)]
my_sum(list1)

55

In [65]:
# list1 = [111,222,333,444,555,666,777,888,999]
result = []
for i in range(1,10):
    result.append(triplet(i))
result

NameError: name 'triplet' is not defined

In [ ]:
[var*111 for var in range(1,10)]

In [ ]:
def hectic_task():
    return [var*111 for var in range(1,10)]
hectic_task()

In [ ]:
def hectic_task():
    return [triplet(var) for var in range(1,10)]
hectic_task()

In [67]:
def triplet(num):
    return num*111

In [68]:
triplet(2)

222

In [69]:
triplet(6)

666

In [70]:
def hectic_task_modified():
    return [triplet_modified(var) for var in range(1,10)]

def triplet_modified(num):
    return num*111

hectic_task_modified()

[111, 222, 333, 444, 555, 666, 777, 888, 999]

In [71]:
def hectic_task_modified():
    return [triplet_modified(var) for var in range(1,10)]

def triplet_modified(num):
    return num*111

hectic_task_modified()

[111, 222, 333, 444, 555, 666, 777, 888, 999]

In [72]:
def table(num):
    for i in range(1, 11):
        print(f'{num} * {i} = {num*i}')
#     print(f'{num} * 2 = {num*2}')
#     print(f'{num} * 3 = {num*3}')

var = input('Enter number')
table(int(var))

Enter number12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [73]:
# write a function to return product of list elements.
def my_product(variable):
    product1 = 1
#     print('In my Function', variable)
    for i in variable:
        product1 = product1 * i
    print(product1)    

# list1 = [11,22,33,44,55,66,77,88,99]
list1 = [i for i in range(1,6)]
# print(list1)
my_product(list1)

120

In [74]:
# write a function to return product of list elements.
def factorial(num):
    product1 = 1
    list1 = [i for i in range(1,num+1)]
    for i in list1:
        product1 = product1 * i
    print(product1)    


factorial(5)

120

In [75]:
a,b = 11,55
print(a,b)

11 55

In [80]:
print(f'before swap a = {a}, b = {b}')
a, b = b, a
print(f'after swap  a = {a}, b = {b}')

before swap a = 11, b = 55
after swap  a = 55, b = 11

In [ ]:
a,b = 11,55
print(f'before swap a = {a}, b = {b}')
temp = a
a, b = b, a
print(f'after swap  a = {a}, b = {b}')

In [81]:
a,b = 11,55
print(f'before swap a = {a}, b = {b}')
temp = a
a = b
b = temp
print(f'after swap  a = {a}, b = {b}')

before swap a = 11, b = 55
after swap  a = 55, b = 11

In [ ]:
a,b = 11,55
print(f'before swap a = {a}, b = {b}')
temp = a
a = b
b = temp
print(f'after swap  a = {a}, b = {b}')

In [82]:
a,b = 11,55
print(f'before swap a = {a}, b = {b}')
a = a + b
b = a - b
a = a - b
print(f'after swap  a = {a}, b = {b}')

before swap a = 11, b = 55
after swap  a = 55, b = 11

In [85]:
string = 'Abc, xyz.'
string = string.replace(',', '.')
print(string)
string = string.replace('.',',')
print(string)

Abc. xyz.
Abc, xyz,

In [96]:
string = 'Abc, xyz.'
strange_string = 'Himalayas'
string = string.replace(',', strange_string)
# print(string)
string = string.replace('.', ',')
# print(string)
string = string.replace(strange_string, '.')
print(string)

Abc. xyz,

In [100]:
def swap_dot_comma(string):
    print('before swap->', string)
    strange_string = 'HHH'
    string = string.replace(',', strange_string)
    # print(string)
    string = string.replace('.', ',')
    # print(string)
    string = string.replace(strange_string, '.')
    print('after swap-> ', string)
    
swap_dot_comma('Abc, xyz.')

before swap-> Abc, xyz.
after swap->  Abc. xyz,