In [ ]:
Functions
- Used for wrting subtaks
- function can have zero or more return statement
- functions can have zero or more parameters

In [ ]:
syntax

def funname():
    line1
    line2
    line3
    return

In [ ]:
syntax

def funname():
    line1
    line2
line3

In [ ]:
def abc():
    pass

In [ ]:
abc()

In [ ]:
def abc():
    print('I am in functions block')

In [ ]:
abc()

In [ ]:
def abc():
    print('I am in functions block')

abc()

In [ ]:
abc123()

def abc123():
    print('I am in functions block')

In [ ]:
def abc123():
    print('I am in functions block')
    
abc123()

In [ ]:
def abc123():
    print('I am in functions block')
    
print(abc123)

In [ ]:
def abc123():
    print('I am in functions block')
    
print(abc123())

In [ ]:
def abc123(): # execute this code on terminal using python interpreter
    print('I am in functions block')
    return "This is my return statement"
    
abc123()

In [ ]:
def abc123(): # execute this code on terminal using python interpreter
    print('I am in functions block')
    return "This is my return statement"
    
print(abc123())

In [ ]:
def xyz(): # this cell has not been executed
    print('in xyz')

In [ ]:
xyz()

In [ ]:
def xyz():
    print('in xyz')

In [ ]:
xyz()

In [ ]:
def xyz():
    print('in xyz')

xyz()

## Function with argument/parameter

In [ ]:
def fun1(num):
    print(num, type(num))

fun1(123)

In [ ]:
def fun1(num):
    print(num, type(num))

fun1(123.456)

In [ ]:
def fun1(num):
    print(num, type(num))

fun1(['abc', '123'])

In [ ]:
def fun1(num):
    print(num, type(num))

fun1('string line')

In [ ]:
def divide(divident, divisor):
    print(divident// divisor)
    
divide(444, 4)

In [ ]:
def divide(divident, divisor):
    print(divident// divisor)
    
divide(444, 4)

In [ ]:
def divide(divident, divisor):
    print(divident // divisor)
    
divide('abc', 'xyz')

In [ ]:
def divide(divident, divisor):
    print(divident // divisor)
    
divide([1,2,3], (11,22,33))

In [ ]:
def sum(num1, num2):
    print(num1 + 2)
    
sum(1,2)

In [ ]:
def sum(num1, num2):
    print(num1 + num2)
    
sum('Cdac','Silchar')

In [ ]:
def sum(num1, num2):
    print(num1 + '-' + num2)
    
sum('Cdac','Silchar')

In [ ]:
def sum(num1, num2):
    print(num1 + '-' + num2)
    
sum(11,22)

In [ ]:
def sum(num1, num2):
    print(num1 + num2)
    
sum([11],[22])

In [ ]:
def sum(num1, num2):
    print(num1 + num2)
    
sum([1,2,3,4],[11,22,33,44])

In [ ]:
def sum(num1, num2):
    print(num1 + num2)
    
sum((1,2,3,4),(11,22,33,44))

In [ ]:
def my_print(variable):
    for item in variable:
        print(item, '->', type(item))

my_print('Cdac-Silchar')

In [ ]:
my_print( [1,2,3,4,5,6,7] )

In [ ]:
states = ['Assam', "Rajasthan", 'Odisha', 'Telangana']
my_print(states)

In [ ]:
my_print(12)

In [ ]:
list1 = [11,22,33,44]
for  i in list1:
    print(i)

In [ ]:
list1 = 2
for i in list1:
    print(i)

In [ ]:
list1 = 2
for i in range(list1):
    print(i)

In [ ]:
def fun_1(num1, num2):
    print(f'first = {num1}, second = {num2}')
fun_1(11,77)

In [ ]:
fun_1(11)

In [ ]:
fun_1(11,22,33)

In [ ]:
def fun_1(num1, num2):
    print(f'first = {num1}, second = {num2}')
fun_1([11,77])

In [ ]:
def fun_1(num1, num2):
    print(f'first = {num1}, second = {num2}')
fun_1([11,77], ['aaa', 'bbb'])

In [ ]:
def fun_1(num1, num2):
    print(f'first = {num1}, second = {num2}')
fun_1()

In [ ]:
# Write a function which generates 4-digit 5 numbers & substract 333 from all.
# Result shud be placed in list. Print the list at the end.

import random
def task():
    list1 = []
    for i in range(5):
        list1.append(random.randint(1000,9999))
    
    print('Before substracing')
    print(list1)
    
    for i in range(5):
        list1[i] = list1[i] - 333

    print('After substracing')
    print(list1)
    
        
task()

In [ ]:
list1 = []
for i in range(5):
    list1.append(7)
list1

In [ ]:
list1 = []
for i in range(5):
    list1.append(i)
list1

In [ ]:
list1 = []
for i in range(5):
    list1.append('Amarsingh')
list1

In [ ]:
import random
var = random.randint(1000, 9999)
var

## return
- it shud be last statement
- not complusary to hv return to function
- can return multiple return values
- anyting written after return statement is unereachable code

In [ ]:
def fun_2():
    return 2323
fun_2()

In [ ]:
def fun_2():
    return 2323
    print('fjhdfdhjk') # unreachbale code
fun_2()

In [ ]:
def fun_2():
   return 'ABC' 
fun_2()

In [ ]:
def fun_2():
   return ['ABC', 'XYZ', 'PQR'] 
fun_2()

In [ ]:
def fun3(num1, num2):
    return num1+num2

fun3(444,555)

In [ ]:
# Write a function which generates 4-digit 5 numbers & substract 333 from all.
# Return output in the form of list

import random
def task():
    list1 = []
    for i in range(5):
        list1.append(random.randint(1000,9999))
    
    print('Before substracing')
    print(list1)
    
    for i in range(5):
        list1[i] = list1[i] - 333
    
    return list1


output = task()
print('After substracing')
print(output)

In [ ]:
# Write a function which generates 4-digit 5 numbers & substract 333 from all.
# Return output in the form of list

import random
def task():
    list1 = []
    print('Before substracing')
    for i in range(5):
        list1.append(random.randint(1000,9999) - 333)
    

    print(list1)
    
#     for i in range(5):
#         list1[i] = list1[i] - 333
    
    return list1


output = task()
print('After substracing')
print(output)

In [ ]:
# Write a function which generates 4-digit 5 numbers & substract 333 from all.
# Return output in the form of list

import random
def task():
    return [random.randint(1000,9999)-333 for i in range(5)]
           [random.randint(1000,9999)-333 for i in range(5)]

output = task()
print('After substracing')
print(output)

In [ ]:
[ 7 for i in range(5)]

In [ ]:
[ i for i in range(5)]

In [ ]:
[random.randint(1000,9999) for i in range(5)]

In [ ]:
[random.randint(1000,9999)-333 for i in range(5)]

In [ ]:
# Write a function which takes 2 arguments start and end (both included).
# Return list with first 5 values and last 5 values and substract 1 from them
# for the range of numbers start to end.


def task2(start, end):
    result = []
    for i in range(start, start+5):
        result.append(i)
#     print(result)
    for i in range(end, end - 5, -1):
        result.append(i)
#     print(result)
    for i in range(10):
        result[i] = result[i] - 1
    return result

task2(7, 35)

In [ ]:
task2(123,676)

In [ ]:
# Write a function which takes 2 arguments start and end (both included).
# Return list with first 5 values and last 5 values and substract 1
# from them for the range of numbers start to end.


def task2(start, end):
    result = []
    for i in range(start, start+5):
        result.append(i)
#     print(result)
    for i in range(end, end - 5, -1):
        result.append(i)
#     print(result)
    return [i-1 for i in result]

task2(7, 35)

In [ ]:
fullform = ['Madhya Pradesh', 'uttar pradesh',
            'Electoral directorate',
            'central bureau Of investigation']
fullform

In [ ]:
def short_form(variable):
    for var in variable:
        temp_list = var.split()
        for i in temp_list:
            if i.lower() != 'of':
                print(f'{i[0].upper()}.', end = '')
        print()
            

short_form(fullform)

In [ ]:
def first_two_letters(cities):
    result = []
    for i in cities:
        result.append(i[0:2])
    return result



cities = ['Kohima', 'Bhubaneswar', 'Chandigarh', 'Jaipur',
          'Gangtok', 'Chennai', 'Hyderabad',
          'Agartala', 'Lucknow', 'Dehradun', 'Kolkata']
first_two_letters(cities)

In [ ]:
# output = ['Ko', 'Bh', 'Ch', 'Ja', 'Ga', 'Ch', 'Hy', 'Ag', 'Lu', 'De', 'Ko']

In [ ]:
# write a function to return sum of list elements.
def my_sum(variable):
    sum1 = 0
#     print('In my Function', variable)
    for i in variable:
        sum1 = sum1 + i
    print(sum1)
    

# list1 = [11,22,33,44,55,66,77,88,99]
list1 = [i for i in range(1,11)]
my_sum(list1)

In [1]:
# write a function to return sum of list elements.
def my_sum(variable):
    return sum(variable)
    

# list1 = [11,22,33,44,55,66,77,88,99]
list1 = [i for i in range(1,11)]
my_sum(list1)

55

In [12]:
# list1 = [111,222,333,444,555,666,777,888,999]
result = []
for i in range(1,10):
    result.append(triplet(i))
result

[111, 222, 333, 444, 555, 666, 777, 888, 999]

In [13]:
[var*111 for var in range(1,10)]

[111, 222, 333, 444, 555, 666, 777, 888, 999]

In [14]:
def hectic_task():
    return [var*111 for var in range(1,10)]
hectic_task()

[111, 222, 333, 444, 555, 666, 777, 888, 999]

In [15]:
def hectic_task():
    return [triplet(var) for var in range(1,10)]
hectic_task()

[111, 222, 333, 444, 555, 666, 777, 888, 999]

In [7]:
def triplet(num):
    return num*111

In [8]:
triplet(2)

222

In [9]:
triplet(6)

666

In [17]:
def hectic_task_modified():
    return [triplet_modified(var) for var in range(1,10)]

def triplet_modified(num):
    return num*111

hectic_task_modified()

[111, 222, 333, 444, 555, 666, 777, 888, 999]

In [18]:
def hectic_task_modified():
    return [triplet_modified(var) for var in range(1,10)]

def triplet_modified(num):
    return num*111

hectic_task_modified()

[111, 222, 333, 444, 555, 666, 777, 888, 999]

In [30]:
def table(num):
    for i in range(1, 11):
        print(f'{num} * {i} = {num*i}')
#     print(f'{num} * 2 = {num*2}')
#     print(f'{num} * 3 = {num*3}')

var = input('Enter number')
table(int(var))

Enter number34
34 * 1 = 34
34 * 2 = 68
34 * 3 = 102
34 * 4 = 136
34 * 5 = 170
34 * 6 = 204
34 * 7 = 238
34 * 8 = 272
34 * 9 = 306
34 * 10 = 340

In [ ]:
# write a function to return product of list elements.
def my_product(variable):
    sum1 = 0
#     print('In my Function', variable)
    for i in variable:
        sum1 = sum1 + i
    print(sum1)
    

# list1 = [11,22,33,44,55,66,77,88,99]
list1 = [i for i in range(1,11)]
print(list1)
my_product(list1)