## for loop

In [ ]:
syntax:

for var in iterable_object:
    body of for loop
    body of for loop
    body of for loop
    body of for loop

In [ ]:
for i in 'abcdefgh':
    print(i)

In [ ]:
for i in 'abcdefgh':
    print(i, end = ' ')

## pass

In [ ]:
for i in 'abcdefgh':
    pass

In [ ]:
def fun():
    pass

## range()

In [ ]:
range(10) -> 0 to 9
range(3, 10) -> 3 to 9
range(2, 20, 4) -> 2 to 19 and third arg 4 is step_size

In [14]:
for i in range(10):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for xyz in range(3,23):
    print(xyz, end = ' ')

In [ ]:
for i in range(6):
    for j in range(6):
        print(i,j, sep = ' ')

In [ ]:
for i in range(6):
    for j in range(6):
        print(j,i, sep = ' ')

In [6]:
for i in range(6):
    for j in range(6):
        print('(', i, j, ')', end = ',', sep = '')
    print()

(00),(01),(02),(03),(04),(05),
(10),(11),(12),(13),(14),(15),
(20),(21),(22),(23),(24),(25),
(30),(31),(32),(33),(34),(35),
(40),(41),(42),(43),(44),(45),
(50),(51),(52),(53),(54),(55),

In [8]:
for i in range(1,51):
    if i%2 == 0:
        print(i, end = ' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [9]:
for i in range(1,51):
    if i%2 != 0:
        print(i, end = ' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [10]:
for i in range(1,100):
    if i%7 == 0:
        print(i, end = ' ')

7 14 21 28 35 42 49 56 63 70 77 84 91 98

In [11]:
for i in range(1,101):
    if i%7 == 0:
        print(i, end = ' ')

7 14 21 28 35 42 49 56 63 70 77 84 91 98

In [12]:
for i in range(1,20,2):
    print(i, end = ' ')

1 3 5 7 9 11 13 15 17 19

In [13]:
for i in range(1,20,4):
    print(i, end = ' ')

1 5 9 13 17

In [15]:
n = 7
for i in range(n):
    for j in range(n):
        print(i, end = ' ')
    print()

0 0 0 0 0 0 0
1 1 1 1 1 1 1
2 2 2 2 2 2 2
3 3 3 3 3 3 3
4 4 4 4 4 4 4
5 5 5 5 5 5 5
6 6 6 6 6 6 6

In [16]:
n = 7
for i in range(n):
    for j in range(n):
        print(j, end = ' ')
    print()

0 1 2 3 4 5 6
0 1 2 3 4 5 6
0 1 2 3 4 5 6
0 1 2 3 4 5 6
0 1 2 3 4 5 6
0 1 2 3 4 5 6
0 1 2 3 4 5 6

In [17]:
n = 7
for i in range(n):
    for j in range(i):
        print(i, end = ' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [18]:
n = 7
for i in range(n):
    for j in range(i):
        print(j, end = ' ')
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [19]:
n = 7
for i in range(n):
    for j in range(i):
        print('*', end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

## enumerate()

In [1]:
list1 = ['00', '11', '22', '33', '44', '55', '66', '77', '88', '99']
list1

['00', '11', '22', '33', '44', '55', '66', '77', '88', '99']

In [3]:
for i in range(len(list1)):
    print(list1[i], end = ' ')

00 11 22 33 44 55 66 77 88 99

In [5]:
for index, value in enumerate(list1):
    print(index, value)

0 00
1 11
2 22
3 33
4 44
5 55
6 66
7 77
8 88
9 99

In [6]:
for a, b in enumerate('abcdefgh'):
    print(a, b)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h

In [7]:
for var in enumerate('abcdefgh'):
    print(var)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')
(7, 'h')

In [10]:
for var in enumerate(list1):
    print(var, type(var))

(0, '00') <class 'tuple'>
(1, '11') <class 'tuple'>
(2, '22') <class 'tuple'>
(3, '33') <class 'tuple'>
(4, '44') <class 'tuple'>
(5, '55') <class 'tuple'>
(6, '66') <class 'tuple'>
(7, '77') <class 'tuple'>
(8, '88') <class 'tuple'>
(9, '99') <class 'tuple'>

In [12]:
for var in enumerate(list1):
    print(var, type(var[1]))

(0, '00') <class 'str'>
(1, '11') <class 'str'>
(2, '22') <class 'str'>
(3, '33') <class 'str'>
(4, '44') <class 'str'>
(5, '55') <class 'str'>
(6, '66') <class 'str'>
(7, '77') <class 'str'>
(8, '88') <class 'str'>
(9, '99') <class 'str'>

In [1]:
list1 = [11,22,33,44]
for a,b in enumerate(list1):
    print(a, b)

0 11
1 22
2 33
3 44

In [2]:
list1 = [11,22,33,44]
for index, value in enumerate(list1):
    print(index, value)

0 11
1 22
2 33
3 44

In [3]:
list1 = [11,22,33,44]
for item in enumerate(list1):
    print(item)

(0, 11)
(1, 22)
(2, 33)
(3, 44)

In [4]:
list1 = [11,22,33,44]
for item in enumerate(list1):
    print(type(item))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [5]:
def mfun():
    return 111, 222, 333, 444, 555

In [6]:
mfun()

(111, 222, 333, 444, 555)

In [8]:
type(mfun())

tuple

In [9]:
abc = mfun()

In [10]:
print(abc)

(111, 222, 333, 444, 555)

In [12]:
def mfun():
    return 111, 222

In [13]:
print(mfun())

(111, 222)

In [7]:
import random
array=[]
count = 1
while count != 11:
    random_number = random.randint(1,10)
    if random_number in array:
        pass
    else:
        array.append(random_number)
        count += 1
        
print(array)

[7, 4, 1, 6, 5, 8, 9, 2, 3, 10]

In [1]:
import random
random_list = []
for i in range(10):
    num = random.randint(1,10)
    random_list.append(num)
random_list

[9, 8, 8, 2, 5, 4, 1, 7, 2, 5]

In [6]:
import random
random_list = []
for i in range(10):
    num = random.randint(1,10)
    if num in random_list:
        pass
    else:
        random_list.append(num)
random_list

[6, 4, 3, 5, 8, 10, 2]

In [17]:
import random
random_list = []
while True:
    num = random.randint(1,10)
    if num in random_list:
        pass
    else:
        random_list.append(num)
        if len(random_list) == 10:
            break
random_list

[2, 10, 7, 9, 4, 1, 8, 6, 3, 5]

In [18]:
import random
random_list = []
while True:
    num = random.randint(1,10)
    if num not in random_list:
        random_list.append(num)
        if len(random_list) == 10:
            break

random_list

[10, 3, 4, 7, 8, 5, 1, 2, 6, 9]

In [27]:
import random
random_list = []
count = 1
while count != 11:
    num = random.randint(1,10)
    if num not in random_list:
        random_list.append(num)
        count += 1        

random_list

[2, 1, 9, 3, 7]

In [29]:
import random
random_list = []
count = 1
while count <= 10:
    num = random.randint(1,10)
    if num not in random_list:
        random_list.append(num)
        count += 1        

random_list

[3, 2, 7, 8, 10, 1, 9, 6, 5, 4]

In [30]:
list(range(0,0))

[]

In [31]:
list(range(0,1))

[0]

In [34]:
list1 = [11,22,33,44,55,66,77]

for var in range(len(list1)):
    print(list1[var], end = ' ')
print()  
for var in list1:
    print(var, end = ' ')

11 22 33 44 55 66 77
11 22 33 44 55 66 77

In [43]:
list1 = [ 5, 88, 2, 10, 3, 412, 7, 8, 6, 999]
max_number = list1[0]
for i in range(1, len(list1)):
    if list1[i] > max_number:
        max_number = list1[i]
print(max_number)

999

In [45]:
list1 = [ 5, 88, 2, 10, 3, 412, 7, 8, 6, 9]
# max_number = list1[0]
min_number = list1[0]
for i in range(1, len(list1)):
    if list1[i] < min_number:
        min_number = list1[i]
print(min_number)

2

In [50]:
def find_max(list_var):
    max_number = list_var[0]
    for i in range(1, len(list_var)):
        if list_var[i] > max_number:
            max_number = list_var[i]
    return max_number


list1 = [1,44,6,22,8,99,3,55,3]
print(find_max(list1))

99

In [51]:
find_max([44,6,345,234,678,23])

678

In [52]:
find_max([22,3,55])

55

In [54]:
list1 = [ 5, 88, 2, 10, 3, 412, 7, 8, 6, 9]
max_number = list1[0]
min_number = list1[0]
for i in range(1, len(list1)):
    if list1[i] < min_number:
        min_number = list1[i]
    elif list1[i] > max_number:
        max_number = list1[i]
print(max_number)
print(min_number)

412
2

In [57]:
list1 = [11,33,55,77,99]
for a, b in enumerate(list1):
    print(a, b)

0 11
1 33
2 55
3 77
4 99

In [59]:
list1 = [11,33,55,77,99]
for a, b in enumerate(list1):
    print(list1[a], b)

11 11
33 33
55 55
77 77
99 99

In [60]:
list1 = [11,33,55,77,99]
for a, b in enumerate(list1):
    print('At location', a, '->',list1[a], b)

At location 0 -> 11 11
At location 1 -> 33 33
At location 2 -> 55 55
At location 3 -> 77 77
At location 4 -> 99 99