# Definition

In [ ]:
- collection of characters enclosed with single quotes or double quotes or triple single quotes
- immutable
- ordered
- can contain duplicates
- no single quote/quotes within single quotes
- no double quote/quotes within double quotes

In [2]:
string = 'This is my string'
string

'This is my string'

In [3]:
string = "This is my string"
string

'This is my string'

In [4]:
string = '''This is my string'''
string

'This is my string'

In [5]:
string = 'This is my 
           string'
string

SyntaxError: unterminated string literal (detected at line 1) (1976266085.py, line 1)

In [25]:
string = '''This is my 
string'''
print(string)

This is my
string

In [9]:
string = 'this 'is my' class'

SyntaxError: invalid syntax (638546813.py, line 1)

In [13]:
string = 'this "is my" class'
print(string)

this "is my" class

In [10]:
string = "this "is my" class"

SyntaxError: invalid syntax (1234868613.py, line 1)

In [14]:
string = "this 'is my' class"
print(string)

this 'is my' class

In [15]:
string = "It's my class"
print(string)

It's my class

## empty string / null string

In [43]:
string = str()
print(string)
type(string)

str

In [ ]:
string = ''
string = ""

In [ ]:
string = ' '

## white spaces

In [ ]:
- new line -> '\n'
- one or more spaces -> ' '
- tab -> '\t'

## Escape characters

In [ ]:
\t
\n
\r -> return carriage

It's my class

In [18]:
string = 'It\'s my class'
print(string)

It's my class

Indian supercomputer names begins with "Param" like Paramshavak.

In [19]:
string = "Indian supercomputer names begins with \"Param\" like Paramshavak."
print(string)

Indian supercomputer names begins with "Param" like Paramshavak.

In [21]:
string = 'abc\txyz'
print(string)

abc	xyz

In [26]:
string = 'abc\nxyz'
print(string)

abc
xyz

In [28]:
string = '1234567\rbbb'
print(string)

bbb

## iterator over string

In [29]:
string = '1234567890abcdefgh'
for i in string:
    print(i, end = '-')

1-2-3-4-5-6-7-8-9-0-a-b-c-d-e-f-g-h-

In [31]:
string = '1234567890abcdefgh'
for i in range(len(string)):
    print(string[i], end = '-')

1-2-3-4-5-6-7-8-9-0-a-b-c-d-e-f-g-h-

# String formatting

In [ ]:
1. .format()
2. f''
3. format specifier

### format()

In [46]:
age = 22
marks = 89
print('Age =', age, 'Marks =', marks)

Age = 22 Marks = 89

In [47]:
print('Age = {}, Marks = {}'.format(age, marks))

Age = 22, Marks = 89

In [49]:
print('Age = {}, Marks = {}, {}, {}'.format(age, marks, age, [1,2,3,4]))

Age = 22, Marks = 89, 22, [1, 2, 3, 4]

## f-string

In [52]:
print(f'Age = {age}, Marks = {marks}, {999}, {"CBP"}')

Age = 22, Marks = 89, 999, CBP

## format specifier

In [ ]:
int   - %d
float - %f
str   - %s

In [54]:
print('Age = %d, marks = %d'%(age, marks))

Age = 22, marks = 89

In [55]:
name = 'ABC'
percentage = 89.89
print('Name = %s, percentage = %f'%(name, percentage))

Name = ABC, percentage = 89.890000

# Raw string

In [56]:
abc = 'hello\nworld'
print(abc)

hello
world

In [57]:
abc = r'hello\nworld'
print(abc)

hello\nworld

In [58]:
string = 'hello\tworld'
print(string)

hello	world

In [59]:
string = r'hello\tworld'
print(string)

hello\tworld

## Type casting

In [60]:
st = '1'
int(1)

1

In [61]:
st = '1234'
int(st)

1234

In [62]:
st = '7.89123'
float(st)

7.89123

In [63]:
st = '7.89123'
int(st)

ValueError: invalid literal for int() with base 10: '7.89123'

In [64]:
st = '7.89123'
int(float(st))

7

In [65]:
num = 123
str(num)

'123'

In [66]:
num = 3.145
str(num)

'3.145'

## concatenation

In [68]:
str1 = 'ABC'
str2 = '123'
str3 = str1 + str2
str3

'ABC123'

In [69]:
str1 = 'ABC'
str2 = '123'
str3 = str2 + str1
str3

'123ABC'

In [90]:
str1 = 'ABC'
str2 = '123'
print(id(str1))
str1 = str1 + str2
print(id(str1))
str1

140581504274672
140581015589360

'ABC123'

In [91]:
string = 'str' * 4
string

'strstrstrstr'

In [92]:
string = '*' * 4
string

'****'

In [93]:
for i in range(7):
    for j in range(i):
        print('*', end = '')
    print()

*
**
***
****
*****
******

In [96]:
for i in range(7):
    print('*'*i, end = '')
    print()

*
**
***
****
*****
******

In [97]:
a = [1,2,3]
del a[1]
a

[1, 3]

In [98]:
a = 'abcdefg'
del a[1]
a

TypeError: 'str' object doesn't support item deletion

## enumerate()

In [100]:
string = 'abcdefgh'
for i, v in enumerate(string):
    print(f'Character {v} is present as index {i}')

Character a is present as index 0
Character b is present as index 1
Character c is present as index 2
Character d is present as index 3
Character e is present as index 4
Character f is present as index 5
Character g is present as index 6
Character h is present as index 7

## Indexing

### positive

In [ ]:
string = '012345678'

# string functions

In [33]:
string = 'Guwahati is the largest city of the Indian state of \
Assam and also the largest metropolis in northeastern India.'
print(string)

Guwahati is the largest city of the Indian state of Assam and also the largest metropolis in northeastern India.

## 1. capitalize()
- capitalize first chharacter of whole string
- rest of the characters converted to lower case if they are in upper case

In [34]:
string.capitalize()

'Guwahati is the largest city of the indian state of assam and also the largest metropolis in northeastern india.'

## 2. title()
- changes first character to capital for each word in string separated by space
- rest of the characters converted to lower case if they are in upper case

In [35]:
string.title()

'Guwahati Is The Largest City Of The Indian State Of Assam And Also The Largest Metropolis In Northeastern India.'

In [36]:
'ABcc asbh'.title()

'Abcc Asbh'

## 3. upper()

In [37]:
string.upper()

'GUWAHATI IS THE LARGEST CITY OF THE INDIAN STATE OF ASSAM AND ALSO THE LARGEST METROPOLIS IN NORTHEASTERN INDIA.'

In [39]:
abc = 'AbCdEfGhIjKl'
abc.upper()

'ABCDEFGHIJKL'

## 4. lower()

In [38]:
string.lower()

'guwahati is the largest city of the indian state of assam and also the largest metropolis in northeastern india.'

In [40]:
abc = 'AbCdEfGhIjKl'
abc.lower()

'abcdefghijkl'

In [ ]:
string.

In [ ]:
## strip

In [ ]:
## strip

In [ ]:
## strip