## Definition

In [ ]:
- collection of characters enclosed with single quotes or double quotes or triple single quotes
- immutable
- ordered
- can contain duplicates
- no single quote/quotes within single quotes
- no double quote/quotes within double quotes

In [2]:
string = 'This is my string'
string

'This is my string'

In [3]:
string = "This is my string"
string

'This is my string'

In [4]:
string = '''This is my string'''
string

'This is my string'

In [5]:
string = 'This is my 
           string'
string

SyntaxError: unterminated string literal (detected at line 1) (1976266085.py, line 1)

In [25]:
string = '''This is my 
string'''
print(string)

This is my
string

In [9]:
string = 'this 'is my' class'

SyntaxError: invalid syntax (638546813.py, line 1)

In [13]:
string = 'this "is my" class'
print(string)

this "is my" class

In [10]:
string = "this "is my" class"

SyntaxError: invalid syntax (1234868613.py, line 1)

In [14]:
string = "this 'is my' class"
print(string)

this 'is my' class

In [15]:
string = "It's my class"
print(string)

It's my class

## white spaces

In [ ]:
- new line -> '\n'
- one or more spaces -> ' '
- tab -> '\t'

## Escape characters

In [ ]:
\t
\n
\r -> return carriage

It's my class

In [18]:
string = 'It\'s my class'
print(string)

It's my class

Indian supercomputer names begins with "Param" like Paramshavak.

In [19]:
string = "Indian supercomputer names begins with \"Param\" like Paramshavak."
print(string)

Indian supercomputer names begins with "Param" like Paramshavak.

In [21]:
string = 'abc\txyz'
print(string)

abc	xyz

In [26]:
string = 'abc\nxyz'
print(string)

abc
xyz

In [28]:
string = '1234567\rbbb'
print(string)

bbb

## iterator over string

In [29]:
string = '1234567890abcdefgh'
for i in string:
    print(i, end = '-')

1-2-3-4-5-6-7-8-9-0-a-b-c-d-e-f-g-h-

In [31]:
string = '1234567890abcdefgh'
for i in range(len(string)):
    print(string[i], end = '-')

1-2-3-4-5-6-7-8-9-0-a-b-c-d-e-f-g-h-

## string functions

In [33]:
string = 'Guwahati is the largest city of the Indian state of \
Assam and also the largest metropolis in northeastern India.'
print(string)

Guwahati is the largest city of the Indian state of Assam and also the largest metropolis in northeastern India.

## capitalize()
- capitalize first chharacter of whole string
- rest of the characters converted to lower case if they are in upper case

In [34]:
string.capitalize()

'Guwahati is the largest city of the indian state of assam and also the largest metropolis in northeastern india.'

## title()
- changes first character to capital for each word in string separated by space
- rest of the characters converted to lower case if they are in upper case

In [35]:
string.title()

'Guwahati Is The Largest City Of The Indian State Of Assam And Also The Largest Metropolis In Northeastern India.'

In [36]:
'ABcc asbh'.title()

'Abcc Asbh'

## upper()

In [37]:
string.upper()

'GUWAHATI IS THE LARGEST CITY OF THE INDIAN STATE OF ASSAM AND ALSO THE LARGEST METROPOLIS IN NORTHEASTERN INDIA.'

In [39]:
abc = 'AbCdEfGhIjKl'
abc.upper()

'ABCDEFGHIJKL'

## lower()

In [38]:
string.lower()

'guwahati is the largest city of the indian state of assam and also the largest metropolis in northeastern india.'

In [40]:
abc = 'AbCdEfGhIjKl'
abc.lower()

'abcdefghijkl'

In [ ]:
string.