# Data Types

In [ ]:
number: int, float, complex

string: str

setDT: set, frozenset

sequence: list, tuple, str

hashmap: dict(dictionary)

boolean: bool (True| False)

In [6]:
a = 23
print('value of a =', a, '\nData Type is:', type(a))

value of a = 23
Data Type is: <class 'int'>

In [7]:
a = 33.56
print('value of a =', a, '\nData Type is:', type(a))

value of a = 33.56
Data Type is: <class 'float'>

In [8]:
a = 'Cdac'
print('value of a =', a, '\nData Type is:', type(a))

value of a = Cdac
Data Type is: <class 'str'>

In [10]:
var = complex(2,7)

In [11]:
print('value of var =', var, '\nData Type is:', type(var))

value of var = (2+7j)
Data Type is: <class 'complex'>

## int to float

In [12]:
a = 23
b = float(a)
print(b)

23.0

## float to int

In [14]:
a = 2.34
b = int(a)
print(b)

2

## string to int

In [15]:
marks = '78'
print('value of marks before typecast =', marks, '\nData Type is:', type(marks))
marks = int(marks)
print('value of marks after typecast =', marks, '\nData Type is:', type(marks))

value of marks before typecast = 78
Data Type is: <class 'str'>
value of marks after typecast = 78
Data Type is: <class 'int'>

## string to float

In [17]:
marks = '78.98'
marks = float(marks)
print(marks)

78.98

In [18]:
marks = '78.98'
marks = int(marks)
print(marks)

ValueError: invalid literal for int() with base 10: '78.98'

In [21]:
marks = '78.98'
marks = float(marks)
marks = int(marks)
print(marks)

78

In [22]:
marks = '78.98'
marks = int(float(marks))
# marks = int(marks)
print(marks)

78

## boolean

In [24]:
boolean_var1 = True
boolean_var2 = False

# boolean_var = true (error: 't' in true should be capital)
print(boolean_var1)
print(boolean_var2)

True
False

In [25]:
print(True)

True

## set

In [28]:
var = {1,2,3,4,5}
print(var, type(var), sep = '\n')

{1, 2, 3, 4, 5}
<class 'set'>

## list

In [29]:
var = [11, 22, 33, 44, 'abc']
print(var, type(var), sep = '\n')

[11, 22, 33, 44, 'abc']
<class 'list'>

In [30]:
for item in var:
    print(item)

11
22
33
44
abc

In [32]:
for item in var:
    print(item, end = ' ')

11 22 33 44 abc

## tuple

In [33]:
tup1 = (3,5,7,2)
print(tup1, type(tup1), sep = '\n')

(3, 5, 7, 2)
<class 'tuple'>

## dictionary

In [ ]:
dict1 = {key1:value1, key2:value2}

In [34]:
dict1 = {"101": "aaa", "202": "bbb", "303": "ccc"}
print(dict1)

{'101': 'aaa', '202': 'bbb', '303': 'ccc'}

In [35]:
dict1 = {'101': 'aaa', '202': 'bbb', '303': 'ccc'}
print(dict1)

{'101': 'aaa', '202': 'bbb', '303': 'ccc'}

## Conditionals

In [ ]:
syntax:

    if condition:
        st1
        st2
        st3
    else:
        st4
        st5

In [36]:
if True:
    print('True')

True

In [37]:
if False:
    print('True')

In [38]:
if False:
    print('True')
else:
    print('You mentioned false in above if')

You mentioned false in above if

In [39]:
marks = 56
if marks > 50:
    print('pass')
else:
    print('fail')

pass

In [40]:
marks = 34
if marks > 50:
    print('pass')
else:
    print('fail')

fail

In [43]:
if 34 > 12: # True
    print('AAA')
elif 45 < 56: #True
    print('BBB')
elif 22 > 76:
    print('CCC')

AAA

In [44]:
if 34 > 12: # True
    print('AAA')
if 45 < 56: #True
    print('BBB')
if 22 > 76:
    print('CCC')

AAA
BBB

In [51]:
# marks = 45
marks = 75
if marks <= 100 and marks > 75:
    print('A')
elif marks <= 75 and marks > 50:
    print('B')
elif marks <= 50 and marks > 25:
    print('C')
elif marks <= 25 and marks >= 0:
    print('Fail')

B

In [55]:
# marks = 22
marks = -32
if marks <= 100 and marks > 75:
    print('A')
elif marks <= 75 and marks > 50:
    print('B')
elif marks <= 50 and marks > 25:
    print('C')
else:
    print('Fail')

Fail

In [62]:
# input two numbers from user. if addition is geater than 50
# print PASS otherwise print FAIL

marks1 = int(input('marks1: '))
marks2 = int(input('marks2: '))

addition = marks1 + marks2
if addition > 50:
    print('PASS')
else:
    print('FAIL')

marks1: 22
marks2: 12
FAIL

In [65]:
if 33 < 45:
    print('Yes')
else:
    print('No')

Yes
acd
sadsd
dgdfg

## Operators
1. Arithmetic
2. Assignment
3. Comparison
4. Logical
5. Bitwise
6. membership
7. Identity

In [ ]:
1. Arithmetic operators
    +
    -
    /
    //
    *
    %
    **

In [66]:
print(55-44)

11

In [67]:
print(8/2)

4.0

In [68]:
print(8//2)

4

In [69]:
a = 8
b = 2
c = a/2
print(type(c))

<class 'float'>

In [70]:
a = 8
b = 2
c = a//2
print(type(c))

<class 'int'>

In [71]:
print(2**5)

32

In [72]:
print(2**9)

512

In [73]:
print(2**6)

64

In [ ]:
2. Assignment
    =
    +=
    -=
    *=
    /=
    %=

In [76]:
a = 10
a++

SyntaxError: invalid syntax (2777644652.py, line 2)

In [77]:
a = 10
a += 1 # a = a + 1

In [78]:
a = 34
a %= 7
print(a)

6

In [ ]:
3. Comparison
    >
    >=
    <
    <=
    ==
    !=

In [79]:
print(55>=54)

True

In [ ]:
4. Logical
    not
    and
    or

In [80]:
var1 = True
var2 = not var1
print(var2)

False

In [81]:
print(55>=54)

True

In [82]:
print( not 55>=54)

False

In [2]:
marks = 45
if marks > 34 and marks < 56:
    print('Yes')
else:
    print('No')

Yes

In [3]:
print(marks > 34 and marks < 56)

True

In [85]:
print(marks > 34)
print(marks < 56)

True
True

In [4]:
print(marks > 34 and marks > 56)

False

In [5]:
print(marks > 34 or marks < 56)

True

In [6]:
print(True and True)

True

In [7]:
print(True and False)

False

In [8]:
print(False and True)

False

In [9]:
print(False and False)

False

In [10]:
print(True or True)

True

In [11]:
print(False or True)

True

In [12]:
print(False or True)

True

In [13]:
print(False or False)

False

In [ ]:
5. Bitwise
    &
    |
    ~

In [14]:
a = 8 & 7
print(a)

0

In [15]:
a = 8 | 7
print(a)

15

In [19]:
print(~254)

-255