In [2]:
def abc():
    print('print function')

abc()

print function

In [3]:
def square(num):
    return num*num

In [4]:
square(8)

64

In [5]:
sq_list = []
for i in range(1,11):
    sq_list.append(i*i)
print(sq_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## List comprehension

In [ ]:
syntax:
newlist = [expression(i) for i in Object]

Runs faster than traditional for loop

In [7]:
newlist = [i for i in range(10)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
sqlist = [i*i for i in range(10)]
sqlist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
import math
sqrtl = [math.sqrt(item) for item in range(1,11)]
print(sqrtl)

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]

In [11]:
def fun(num):
    return num * 100

In [12]:
list1 = [11, 22, 33, 44, 55, 66, 77, 88, 99]
nwlist = [ fun(i)  for i in list1]
print(nwlist)

[1100, 2200, 3300, 4400, 5500, 6600, 7700, 8800, 9900]

In [13]:
list1 = [11, 22, 33, 44, 55, 66, 77, 88, 99]
print([ fun(i)  for i in list1])

[1100, 2200, 3300, 4400, 5500, 6600, 7700, 8800, 9900]

## List comprehension with if

In [ ]:
syntax:
    
nwlist = [expression(variable) for variable in Object if condition ]

In [14]:
list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

evenlist = [i for i in list1 if i%2 == 0]
evenlist

[0, 2, 4, 6, 8]

In [16]:
list1 = [i for i in range(31)]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [17]:
evenlist = []
oddlist = []
for i in list1:
    if i%2 == 0:
        evenlist.append(i)
    else:
        oddlist.append(i)
print(evenlist)
print(oddlist)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [18]:
evenlist = [i for i in list1 if i%2 == 0]
evenlist

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [20]:
oddlist = [i for i in list1 if i%2 != 0]
oddlist

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [21]:
cities = ['Pune', 'Guwahati', 'Kolkata', 'Trichy']
newcities = [city for city in cities]
newcities

['Pune', 'Guwahati', 'Kolkata', 'Trichy']

In [27]:
cities = ['Pune', 'Guwahati', 'Kolkata', 'Trichy']
newcities = [city[:2] for city in cities]
newcities

['Pu', 'Gu', 'Ko', 'Tr']

In [23]:
cities = ['Pune', 'Guwahati', 'Kolkata', 'Trichy']
newcities = [city.upper() for city in cities]
newcities

['PUNE', 'GUWAHATI', 'KOLKATA', 'TRICHY']

## list comprehension with if-else

In [ ]:
syntax:
    
nwlist = [expr1 if cond1 else cond2 expr2  for i in Object]

In [24]:
list1 = [i for i in range(31)]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [26]:
result = [ 'Even' if i%2 == 0 else 'Odd' for i in list1]
print(result)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [30]:
result = [ True if i%2 == 0 else False for i in list1]
print(result)

['True', False, 'True', False, 'True', False, 'True', False, 'True', False, 'True', False, 'True', False, 'True', False, 'True', False, 'True', False, 'True', False, 'True', False, 'True', False, 'True', False, 'True', False, 'True']

## Nested list Comprehension

In [34]:
list1 = [[j**2 for j in range(4)] for i in range(7)]
list1

[[0, 1, 4, 9],
 [0, 1, 4, 9],
 [0, 1, 4, 9],
 [0, 1, 4, 9],
 [0, 1, 4, 9],
 [0, 1, 4, 9],
 [0, 1, 4, 9]]